In [38]:
import urllib.request
import re

In [39]:
user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'

In [40]:
url ='https://www.nrb.org.np/forex/'
request = urllib.request.Request(url, headers={'User-Agent': user_agent})
response = urllib.request.urlopen(request)
html_content = response.read().decode('utf-8')

In [41]:
# print(html_content)

In [42]:
# Define the regex pattern to match everything between <tbody> and </tbody> tags
tbody_pattern = r'<tbody>(.*?)</tbody>'

In [43]:
# Use re.findall to find all matches of the pattern in the HTML content
body_matches = re.findall(tbody_pattern, html_content, re.DOTALL)

In [44]:
print(body_matches)

['\n                  <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--inr"></div>\n                           <div class="ml-2 text-uppercase">INR <span\n                              class="text-capitalize">(Indian Rupee)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>100</td>\n                     <td>160.00</td>\n                     <td>160.15</td>\n                  </tr>\n               ', '\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--usd"></div>\n                           <div class="ml-2 text-uppercase">usd <span\n                              class="text-capitalize">(U.S. Dollar)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>133.32</td>\n                     <td>133.92</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--eur"></div>\n                           <div class="ml-2 text-uppercase">eur <span\n                              class="text-capitalize">(European Euro)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>143.56</td>\n                     <td>144.21</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--gbp"></div>\n                           <div class="ml-2 text-uppercase">gbp <span\n                              class="text-capitalize">(UK Pound Sterling)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>167.27</td>\n                     <td>168.02</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--chf"></div>\n                           <div class="ml-2 text-uppercase">chf <span\n                              class="text-capitalize">(Swiss Franc)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>147.00</td>\n                     <td>147.66</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--aud"></div>\n                           <div class="ml-2 text-uppercase">aud <span\n                              class="text-capitalize">(Australian Dollar)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>88.11</td>\n                     <td>88.51</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--cad"></div>\n                           <div class="ml-2 text-uppercase">cad <span\n                              class="text-capitalize">(Canadian Dollar)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>97.47</td>\n                     <td>97.91</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--sgd"></div>\n                           <div class="ml-2 text-uppercase">sgd <span\n                              class="text-capitalize">(Singapore Dollar)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>98.53</td>\n                     <td>98.98</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--jpy"></div>\n                           <div class="ml-2 text-uppercase">jpy <span\n                              class="text-capitalize">(Japanese Yen)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>10</td>\n                     <td>8.63</td>\n                     <td>8.67</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--cny"></div>\n                           <div class="ml-2 text-uppercase">cny <span\n                              class="text-capitalize">(Chinese Yuan)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>18.47</td>\n                     <td>18.55</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--sar"></div>\n                           <div class="ml-2 text-uppercase">sar <span\n                              class="text-capitalize">(Saudi Arabian Riyal)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>35.55</td>\n                     <td>35.71</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--qar"></div>\n                           <div class="ml-2 text-uppercase">qar <span\n                              class="text-capitalize">(Qatari Riyal)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>36.57</td>\n                     <td>36.73</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--thb"></div>\n                           <div class="ml-2 text-uppercase">thb <span\n                              class="text-capitalize">(Thai Baht)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>3.62</td>\n                     <td>3.63</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--aed"></div>\n                           <div class="ml-2 text-uppercase">aed <span\n                              class="text-capitalize">(UAE Dirham)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>36.30</td>\n                     <td>36.46</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--myr"></div>\n                           <div class="ml-2 text-uppercase">myr <span\n                              class="text-capitalize">(Malaysian Ringgit)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>28.14</td>\n                     <td>28.27</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--krw"></div>\n                           <div class="ml-2 text-uppercase">krw <span\n                              class="text-capitalize">(South Korean Won)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>100</td>\n                     <td>9.82</td>\n                     <td>9.86</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--sek"></div>\n                           <div class="ml-2 text-uppercase">sek <span\n                              class="text-capitalize">(Swedish Kroner)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>12.29</td>\n                     <td>12.34</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--dkk"></div>\n                           <div class="ml-2 text-uppercase">dkk <span\n                              class="text-capitalize">(Danish Kroner)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>19.25</td>\n                     <td>19.33</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--hkd"></div>\n                           <div class="ml-2 text-uppercase">hkd <span\n                              class="text-capitalize">(Hong Kong Dollar)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>17.05</td>\n                     <td>17.12</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--kwd"></div>\n                           <div class="ml-2 text-uppercase">kwd <span\n                              class="text-capitalize">(Kuwaity Dinar)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>433.70</td>\n                     <td>435.65</td>\n                  </tr>\n                                    <tr>\n                     <td>\n                        <div class="d-flex align-items-center">\n                           <div class="flag flag--bhd"></div>\n                           <div class="ml-2 text-uppercase">bhd <span\n                              class="text-capitalize">(Bahrain Dinar)</span>\n                           </div>\n                        </div>\n                     </td>\n                     <td>1</td>\n                     <td>353.60</td>\n                     <td>355.19</td>\n                  </tr>\n                                 ']

In [45]:
# Define the regex pattern
currency_pattern = r'<div class="flag flag--..."></div>\s*<div class="ml-2 text-uppercase">(.*?)\s*<span\s*class="text-capitalize">\(([^)]+)\)</span>'

# Find all matches in the HTML
currency_matches = re.findall(currency_pattern, html_content)

In [46]:
print(currency_matches)

[('INR', 'Indian Rupee'), ('usd', 'U.S. Dollar'), ('eur', 'European Euro'), ('gbp', 'UK Pound Sterling'), ('chf', 'Swiss Franc'), ('aud', 'Australian Dollar'), ('cad', 'Canadian Dollar'), ('sgd', 'Singapore Dollar'), ('jpy', 'Japanese Yen'), ('cny', 'Chinese Yuan'), ('sar', 'Saudi Arabian Riyal'), ('qar', 'Qatari Riyal'), ('thb', 'Thai Baht'), ('aed', 'UAE Dirham'), ('myr', 'Malaysian Ringgit'), ('krw', 'South Korean Won'), ('sek', 'Swedish Kroner'), ('dkk', 'Danish Kroner'), ('hkd', 'Hong Kong Dollar'), ('kwd', 'Kuwaity Dinar'), ('bhd', 'Bahrain Dinar')]

In [47]:
currency_code = [item[0] for item in currency_matches]
currency_code = [code.upper() for code in currency_code]
currency = [item[1] for item in currency_matches]

In [48]:
print(currency_code)
print(currency)

['INR', 'USD', 'EUR', 'GBP', 'CHF', 'AUD', 'CAD', 'SGD', 'JPY', 'CNY', 'SAR', 'QAR', 'THB', 'AED', 'MYR', 'KRW', 'SEK', 'DKK', 'HKD', 'KWD', 'BHD']
['Indian Rupee', 'U.S. Dollar', 'European Euro', 'UK Pound Sterling', 'Swiss Franc', 'Australian Dollar', 'Canadian Dollar', 'Singapore Dollar', 'Japanese Yen', 'Chinese Yuan', 'Saudi Arabian Riyal', 'Qatari Riyal', 'Thai Baht', 'UAE Dirham', 'Malaysian Ringgit', 'South Korean Won', 'Swedish Kroner', 'Danish Kroner', 'Hong Kong Dollar', 'Kuwaity Dinar', 'Bahrain Dinar']

In [49]:
print(len(currency_matches))

21

In [50]:
data_pattern = r'<td>(.*?)</td>\s*<td>(.*?)</td>\s*<td>(.*?)</td>'
# Find all matches in the HTML
data_matches = re.findall(data_pattern, html_content)

In [51]:
print(data_matches)

[('100', '160.00', '160.15'), ('1', '133.32', '133.92'), ('1', '143.56', '144.21'), ('1', '167.27', '168.02'), ('1', '147.00', '147.66'), ('1', '88.11', '88.51'), ('1', '97.47', '97.91'), ('1', '98.53', '98.98'), ('10', '8.63', '8.67'), ('1', '18.47', '18.55'), ('1', '35.55', '35.71'), ('1', '36.57', '36.73'), ('1', '3.62', '3.63'), ('1', '36.30', '36.46'), ('1', '28.14', '28.27'), ('100', '9.82', '9.86'), ('1', '12.29', '12.34'), ('1', '19.25', '19.33'), ('1', '17.05', '17.12'), ('1', '433.70', '435.65'), ('1', '353.60', '355.19')]

In [52]:
units = [item[0] for item in data_matches]
buy = [item[1] for item in data_matches]
sell = [item[2] for item in data_matches]

In [53]:
print(units)
print(buy)
print(sell)

['100', '1', '1', '1', '1', '1', '1', '1', '10', '1', '1', '1', '1', '1', '1', '100', '1', '1', '1', '1', '1']
['160.00', '133.32', '143.56', '167.27', '147.00', '88.11', '97.47', '98.53', '8.63', '18.47', '35.55', '36.57', '3.62', '36.30', '28.14', '9.82', '12.29', '19.25', '17.05', '433.70', '353.60']
['160.15', '133.92', '144.21', '168.02', '147.66', '88.51', '97.91', '98.98', '8.67', '18.55', '35.71', '36.73', '3.63', '36.46', '28.27', '9.86', '12.34', '19.33', '17.12', '435.65', '355.19']

In [54]:
print(len(data_matches))

21

In [57]:
# Create a list of tuples containing job titles and companies
data = list(zip(currency_code,currency,units,buy,sell))
import csv

# Define the CSV file path
csv_file = 'csv/forex.csv'

# Write the data to a CSV file
with open(csv_file, 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerow(['Currency_Code','Currency','Units','Buy','Sell'])  # Write header row
    writer.writerows(data)  # Write data rows

print(f'Data exported to {csv_file}')

Data exported to csv/forex.csv